@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <center> <h1>Music Web Application</h1></center>


</div>

<div class="row">
    <div class="col-md-4">
        <h2>Introduction</h2>
        <p>
            Our Music Web Application is a system that offers the possibility to choose a song.
        </p>

    </div>
    <div class="col-md-8">
        <h2>Our App functionality</h2>
        <p> We can add info to our song - duration, artist/group, year of release, genre and others.</p>
        <p> Searching songs based on the criteria described above.  </p>
    </div>

</div>